html{
    height: 100%;
}
body{
    margin: 0px;
    background-image: url("background.jpg");
    /* opacity: 0.75; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #000;
}
.head{
    background-color: #0973a3;
    color: #fff;
    padding: 20px 10px;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}
.content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.box{
    /* width: 100%; */
    /* background-color: #fff; */
    /* padding: 10px; */
    margin: 10px;
    /* 不換行並對齊上方 */
    /* display: inline-block; */
    vertical-align: top;
}
.b-title{
    /* text-align: center; */
    padding: 15px;
    background-color: #0973a3;
    color: #fff;
    border-radius: 10px 10px 0 0 ;
    font-weight: 600;
}
.b-content{
    background-color: #fff;
    color: #525252;
    padding: 20px;
    line-height: 2;
    /* text-indent: 20px; */
    letter-spacing: 0.06em;
}
table{
    width: 100%;
    /* border:1px solid #888888; */
    /* 邊線崩塌 */
    border-collapse: collapse;
}
td{
    border:1px solid #888888;
    /* border-bottom:1px solid #888888; */
    padding: 10px;
}
/* 表格中的第一對tr */
tr:nth-child(1){
    background-color: #7788aa;color: #ffffff;
}
/* 偶數對的欄位設定為淺背景 */
tr:nth-child(even){
    background-color: #e8e8e8;
}
.footer{
    text-align: center;
    color: #fff;
    padding: 20px;
}
#fp-1:first-letter {
    font-size : 200%;/*表示首字要放大的比率大小*/
    color : #525252;
    font-weight : bold;/*首字粗體*/
    float : left;
    padding-right: 4px;
    /*首字與右邊的距離*/
    line-height: 100%;/*表示首字放大的行高*/
}
#fp-2:first-letter {
    font-size : 200%;/*表示首字要放大的比率大小*/
    color : #525252;
    font-weight : bold;/*首字粗體*/
    float : left;
    padding-right: 4px;
    /*首字與右邊的距離*/
    line-height: 100%;/*表示首字放大的行高*/
}
#fp-3:first-letter {
    font-size : 200%;/*表示首字要放大的比率大小*/
    color : #525252;
    font-weight : bold;/*首字粗體*/
    float : left;
    padding-right: 4px;
    /*首字與右邊的距離*/
    line-height: 100%;/*表示首字放大的行高*/
}
#fp-4:first-letter {
    font-size : 200%;/*表示首字要放大的比率大小*/
    color : #525252;
    font-weight : bold;/*首字粗體*/
    float : left;
    padding-right: 4px;
    /*首字與右邊的距離*/
    line-height: 100%;/*表示首字放大的行高*/
}
#fp-5:first-letter {
    font-size : 200%;/*表示首字要放大的比率大小*/
    color : #525252;
    font-weight : bold;/*首字粗體*/
    float : left;
    padding-right: 4px;
    /*首字與右邊的距離*/
    line-height: 100%;/*表示首字放大的行高*/
}
#fp-6:first-letter {
    font-size : 200%;/*表示首字要放大的比率大小*/
    color : #525252;
    font-weight : bold;/*首字粗體*/
    float : left;
    padding-right: 4px;
    /*首字與右邊的距離*/
    line-height: 100%;/*表示首字放大的行高*/
}
#fp-7:first-letter {
    font-size : 200%;/*表示首字要放大的比率大小*/
    color : #525252;
    font-weight : bold;/*首字粗體*/
    float : left;
    padding-right: 4px;
    /*首字與右邊的距離*/
    line-height: 100%;/*表示首字放大的行高*/
}
@media (max-width:1000px){
    .head{
        font-size: 20px;
    }
    .content{
        width: 95%;
    }
}
.video2 {
    /* border: 2px solid red; 加上紅色框框 */
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  /*百分比為寬高比例之計算
  寬/高 
  9/16=56.25%
  3/4=75%*/
  
}

.video2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}